@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4c99af;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 100000000;
}

nav .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav .menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav .hamburger {
    position: absolute;
    left: 20px;
    cursor: pointer;
}

nav h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: white;
    text-align: center;
}

nav .links {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #4c99af;
}

nav .links a {
    padding: 15px;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #3e818e;
}

nav .links.show {
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form button, input {
    font-family: "Inter", sans-serif;

}

form input[type="text"],
form input[type="file"],
form button {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    background-color: #4c99af;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

.opacity {
    /* display: ; */
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 70%;
    visibility: hidden;
    z-index: 50;
}

.edit {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    width: fit-content;
    z-index: 51;
}

.edit button, input {
    font-family: "Inter", sans-serif;

}

.edit input[type="text"],
.edit input[type="file"],
.edit button {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.edit button {
    background-color: #4c99af;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}


.list {
    display: flex;
    justify-content: center;
    align-items: center;
}

#presencas-list {
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}

@media (max-width: 600px) {
    form input[type="text"],
    form input[type="file"],
    form button {
        font-size: 14px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px; /* Espaço após o menu */
    padding: 20px;
}

.container h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.container iframe {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 100%;
}

img {
    width: 100%;
    object-fit: cover;
}
